* {
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;

    /*margin-top: 15px;*/
    margin-bottom: 14px;
}

.secao{
    text-align: center;
    background-color: blueviolet;
}
#botoes {
    background-color: azure;
    display: flex;
    justify-content: center;
}

#topo {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    margin: 2rem;
}

#sobre {
    height: 100vh;
    background-color: azure;
}

#contato {
    height: 100vh;
    /* background-color: rgb(87, 234, 128); */
}

#menu-horizontal ul li {
    display: inline-block;
    /*ficar em uma linha (e nao colunas)*/
}

#menu-horizontal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#menu-horizontal ul {
    list-style: none;
    /*tira os marcadores*/
    padding: 0;
    background-color: rgb(49, 131, 245);
    text-align: right;
    /*alinhar os elementos na direita*/
}

#menu-horizontal ul li {
    display: inline-block;
    /*ficar em uma linha (e nao colunas)*/
}

#menu-horizontal ul li a{
    font-family: "Lucida Sans","Lucida Sans Regular","Lucida Grande","Lucida Sans Unicode", Geneva, Verdana, sans-serif;
 
    color: antiquewhite;
    text-decoration: none;
    /*tira o sublinhado*/
    padding: 15px;
    display: inline-block;
    /*cria um bloco com o padding informado*/
    transition: background 1s;
    /*efeito de fade combinado com o hover*/
}

#menu-horizontal ul li a:hover {
    background-color: gray;
    opacity: 0.5;
    /*opcional */
}